<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload your doc here! SkIBIDi</title>
</head>
<body>
    <div>
        <form action="/upload_docs" method="post">
            <label>Upload your doc here!</label>
            <br>
            <input type="file" name="file" id="file">
            <br>
            <button type="submit">Upload to turn Document into SkibDI braiNROt</button>
        </form>
    </div>
</body>
</html>