<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>Document</title>
</head>
<body class="bg-gray-100 text-black font-sans">
    <div class="flex justify-center m-8 p-6">
        <h1 class="font-bold text-2xl shadow-lg border-spacing-2 rounded-md p-12 text-center hover:cursor-pointer hover:bg-slate-400">
            WELCOME TO YOU'RE PERSONAL SHOPPING REVIEWER
        </h1>
    </div>
    <div class="flex justify-center mt-10">
        
        <form action="/" method="post" class="bg-white p-6 border-2 border-gray-300 shadow-lg">
            <label for="url" class="block mb-2 text-lg font-bold">Paste sootcase💼 URL here to something special!😉😉</label>
            <input type="url" name="url" class="w-full p-2 mb-4 border-2 border-gray-300">
            <button 
            class="flex justify-center text-center bg-blue-600 p-2 text-white rounded-lg hover:bg-blue-700"
            type="submit">Get the Skibidi review🚽🪠!</button>
        </form>
    </div>
</body>
<footer class="flex justify-center p-12 mt-6">
    by Amaan
</footer>
</html>