<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <title>Suitcase Review</title>
    <style>
        .card {
            transition: transform 0.3s ease;
        }
        .card:hover {
            transform: scale(1.05);
        }
    </style>
</head>
<body class="bg-gray-100 text-black font-sans">
    <div class="flex justify-center">
        <h1 class="font-bold text-4xl border-spacing-2 rounded-md p-12 text-center text-black">
            I LIKE MY SOOTCASE 
        </h1>
    </div>
    <div class="flex justify-center pb-4">
        <h2 class="text-xl pb-4">by Amaan</h2>
    </div>    
    <div class="flex justify-center mt-10">
        <div class="card p-6 shadow-lg rounded-md">
            <video autoplay loop class="w-full mb-4">
                <source src="../static/sootcase-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <form action="/" method="post">
                <label for="url" class="  block mb-2 text-lg font-bold">Paste suitcase💼 URL here to see something special!😉😉</label>
                <input type="url" name="url" class="w-full p-2 mb-4 border-2 border-gray-300 rounded-lg" required>
                <button 
                    class="flex justify-center text-center bg-blue-600 p-2 text-white rounded-lg hover:bg-blue-700"
                    type="submit">Get the Skibidi review🚽🪠!
                </button>
            </form>
        </div>
    </div>
    <footer class="flex justify-center p-12 mt-6">
        by Amaan
    </footer>
</body>
</html>