<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRUH💀😭✌️</title>
    <link rel="stylesheet" href="../static/output.css">
    <link rel="stylesheet" href="../static/custom.css">
</head>
<body class="flex flex-col items-center justify-center p-2 bg-90s-bg text-black font-sans">
    <div class="mb-4">
        <img src="../static/AINTnoway.gif" autoplay loop class="w-full max-w-md">
    </div>
    <div class="flex justify-center text-black font-semibold font-sans">
        <h1 class="text-center">
            At least try to use the website DUMBASS
        </h1>
    </div>
    <audio id="audio" src="../static/What The Hell Meme Sound Effect.mp3"></audio>
    <script>
        window.addEventListener('load', function() {
            var audio = document.getElementById('audio');
            audio.play();
        });
    </script>
</body>
</html>