<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Here's the review</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='custom.css') }}"
    />
    <script src="{{ url_for('static', filename='js/server.js') }}"></script>
  </head>
  <body class="bg-90s-bg text-black font-sans">
    <div class="flex justify-center mt-10">
      <div class="bg-white p-6 border-2 border-90s-border shadow-lg">
        <p class="mb-4">{{ is_suitcase|safe }}</p>
        <audio name="audio" id="audio" controls class="w-full">
          <source
            src="{{ url_for('static', filename='speech.mp3') }}"
            type="audio/mpeg"
          />
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div class="flex justify-center p-6 rounded-md text-center text-2xl font-bold font-sans shadow-md">
        By Amaan
    </div>
    <script>
      window.onload = function () {
        playAudio();
      };
    </script>
    <script>
      function playAudio() {
        var x = document.getElementById("audio");
        x.play();
      }
    </script>
  </body>
</html>
